.notes {
  @apply mt-3;
  @apply relative;

  &:before {
    content: '';
    display: block;
    width: 1px;
    background-color: var(--secondary);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    @screen md {
      left: 2rem;
    }
  }
}
.note {
  @apply border-solid;
  @apply rounded-md;
  @apply p-6;
  @apply border-opacity-50;
  @apply -mx-5;
  @screen md {
    @apply mx-0;
  }

  border-width: 1px;
  border-color: var(--secondary);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.05);
}
