.notes {
  @apply mt-3;
  @apply relative;
}
.note {
  @apply p-5;
  @apply mt-6;
  @apply cursor-pointer;

  transition: transform 0.2s ease-in-out;

  @screen md {
    @apply mx-0;
    &:hover {
      transform: scale(1.1);
    }
  }

  p + p {
    @apply mt-4;
  }
}

.seachInput {
  @apply relative;
  @apply self-center;
  @apply mt-6;
  @apply mb-3;

  @screen md {
    @apply mx-0;
  }

  input {
    @apply rounded;
    @apply text-base;
    @apply py-3;
    @apply px-5;
    @apply inline-block;
    @apply w-full;
    @apply outline-none;
    color: var(--text-primary);
  }
  span {
    position: absolute;
    right: 1rem;
    top: 1rem;

    svg {
      @apply w-5;
      @apply h-5;
    }
  }
}
