.note {
  // https://stackoverflow.com/questions/51253050/css-grid-grows-over-100-width-with-fr-but-not-with-minmax
  min-width: 0;

  color: var(--text-secondary);
  p + p {
    @apply mt-4;
  }
}

.seachInput {
  @apply relative;
  @apply self-center;
  @apply mt-8;
  @apply mb-3;

  input {
    @apply rounded;
    @apply py-2 px-3;
    @apply inline-block;
    @apply w-full;
    @apply outline-none;
    background-color: rgb(32 31 30);
    color: var(--text-dim);
  }
  span {
    position: absolute;
    right: 10px;
    top: 10px;

    svg {
      @apply w-5;
      @apply h-5;
    }
  }
}
