.article {
  text-rendering: optimizeLegibility;

  h2 {
    @apply my-8;
    @apply font-semibold;
  }

  h3 {
    @apply my-4;
    @apply font-medium;
  }

  h2,
  h3 {
    .heading-link {
      @apply ml-3;
      @apply align-middle;
      color: var(--text-highlight);
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    &:hover .heading-link {
      opacity: 1;
    }
  }

  a {
    @apply underline text-light hover:text-dark;
  }

  p {
    @apply text-light;
    @apply mt-4;
    @apply mb-8;
  }

  blockquote {
    @apply flex;
    @apply items-center;
    @apply relative;
    @apply overflow-hidden;
    @apply mb-10;
    @apply mt-10;
    padding: 0.75rem 1rem 0.75rem 1rem;
    width: 98%;

    p,
    span,
    div {
      @apply mt-0;
      @apply mb-0;
      @apply text-base;
    }

    background-color: var(--attention);
    border-left: 4px solid var(--text-link);
  }

  ul {
    @apply list-disc list-inside;
    li {
      @apply text-light;
    }
  }

  pre {
    @apply font-mono;
    @apply my-10 p-8;
    @apply text-sm;

    overflow: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  code {
    @apply rounded;
    @apply text-sm;
  }

  .remark-code-title {
    display: none;
    background: var(--secondary);
    color: var(--text-secondary);
    @apply py-2;
    @apply px-4;
    @apply rounded-t;
    @apply rounded-b-none;
    @apply mt-8;
  }
}
