@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: 75px;
}

html,
html[data-theme='light'] {
  --primary: #222831;
  --secondary: #414853;
  --text-primary: #f8f8f8;
  --text-secondary: #b0b0b7;
  --text-highlight: #ff3184;
  --text-link: #00aef9;
}

html[data-theme='light'] {
  --primary: #fff;
  --secondary: #e3e8ee;
  --text-primary: #424874;
  --text-secondary: #565d95;
  --text-highlight: #774eed;
  --text-link: #3274d6;
}

body {
  color: var(--text-primary);
  background-color: var(--primary);
}

body,
nav,
div,
pre,
code,
p,
span,
a {
  transition: background-color 0.3s, color 0.05s;
}

svg {
  @apply w-6 h-6;
}

.bg-dark {
  background-color: var(--primary);
}

.bg-light {
  background-color: var(--secondary);
}

.text-dark {
  color: var(--text-primary);
}

.text-light {
  color: var(--text-secondary);
}

.text-special {
  color: var(--text-highlight);
}

.header {
  background-color: rgba(34, 40, 49, 0.8);
}

html[data-theme='light'] .header {
  background-color: rgba(255, 255, 255, 0.65);
}

.header {
  @apply sticky w-screen top-0 text-xl;

  backdrop-filter: saturate(80%) blur(20px);
}

.header a {
  @apply cursor-pointer;
}

.header a:not(:first-of-type) {
  @apply ml-5;
}

footer {
  @apply text-center py-3;
}
