@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-padding-top: 75px;
  }

  html,
  html[data-theme='light'] {
    --primary: rgba(255, 250, 246, 1);
    --secondary: rgb(227, 232, 238);
    --attention: rgb(235, 248, 255);
    --text-primary: rgba(21, 21, 21, 1);
    --text-secondary: rgba(85, 79, 76, 1);
    --text-dim: rgba(126, 126, 126, 1);
    --text-highlight: rgb(119, 78, 237);
    --text-link: rgb(50, 116, 214);
  }

  html[data-theme='dark'] {
    --primary: rgb(21, 21, 21);
    --secondary: rgb(65, 72, 83);
    --attention: rgb(48, 58, 72);
    --text-primary: rgb(248, 248, 248);
    --text-secondary: rgb(176, 176, 183);
    --text-dim: rgb(121, 118, 115);
    --text-highlight: rgb(255, 49, 132);
    --text-link: rgb(0, 174, 249);
  }

  body {
    color: var(--text-primary);
    background-color: var(--primary);
  }

  svg {
    @apply w-6 h-6;
  }
}

@layer utilities {
  .bg-dark {
    background-color: var(--primary);
  }

  .bg-light {
    background-color: var(--secondary);
  }

  .bg-frost {
    background-color: rgba(227, 232, 238, 0.3);
  }
  html[data-theme='light'] .bg-frost {
    backdrop-filter: saturate(150%);
  }
  html[data-theme='dark'] .bg-frost {
    background-color: rgba(56, 63, 74, 0.25);
  }

  .text-dark {
    color: var(--text-primary);
  }

  .text-light {
    color: var(--text-secondary);
  }

  .text-dim {
    color: var(--text-dim);
  }

  .text-special {
    color: var(--text-highlight);
  }

  .text-link {
    color: var(--text-link);
  }

  .grid-cols-split {
    grid-template-columns: clamp(8em, 20vw, 9em) 1fr;
  }
}

@layer components {
  .link {
    color: var(--text-link);
    box-shadow: inset 0 -1px 0 0 currentColor;
    border-bottom: 1px solid currentColor;
  }
  .link:hover,
  .link:focus {
    border-bottom-color: var(--text-link);
    outline: 0;
  }
}
