@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --primary: #222831;
  --secondary: #414853;
  --text-primary: #f8f8f8;
  --text-secondary: #b0b0b7;
  --text-highlight: #ff3184;

  /* Common styles for both themes */
  color: var(--text-primary);
  background-color: var(--primary);
}

body[data-theme='light'] {
  --primary: #f7f8fc;
  --secondary: #fff;
  --text-primary: #424874;
  --text-secondary: #565d95;
  --text-highlight: #774eed;
}

body,
nav,
div {
  transition: background-color 0.7s, color 0.1s;
}

svg {
  @apply w-6 h-6;
}

.bg-dark {
  background-color: var(--primary);
}

.bg-light {
  background-color: var(--secondary);
}

.text-dark {
  color: var(--text-primary);
}

.text-light {
  color: var(--text-secondary);
}

.text-special {
  color: var(--text-highlight);
}

body .header {
  background-color: rgba(34, 40, 49, 0.8);
}

body[data-theme='light'] .header {
  background-color: rgba(247, 248, 252, 0.8);
}

.header {
  @apply sticky w-screen top-0 text-xl;

  backdrop-filter: saturate(180%) blur(20px);
}

.header a {
  @apply cursor-pointer;
}

.header a:not(:first-of-type) {
  @apply ml-5;
}

footer {
  @apply text-center py-3;
}

.card {
  @apply px-6 pt-8 pb-6;

  background-color: var(--secondary);
}

.card.horizontal {
  @apply mt-8;

  min-height: 130px;
}

.card.vertical {
  @apply mt-8;

  min-height: 300px;
}

.card.vertical:not(:last-of-type) {
  @apply mr-8;
}
